<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="bootstrap.php">
    <testsuites>
        <testsuite name="spreadsheet2array">
            <directory>.</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="false">
            <file>../src/Otzy/Spreadsheet2Array.php</file>
            <exclude>../src/Otzy/Spreadsheet2ArrayException.php</exclude>
        </whitelist>
    </filter>
</phpunit>